        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- favicon -->
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

        <!-- OG tags -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="Papaya">
        <meta property="og:url" content="https://www.papayatemplates.com">
        <meta property="og:description" content="Download fast, responsive HTML landing page templates designed by @jrdnbwmn, for free." />
        <meta property="og:image" content="https://www.papayatemplates.com/img/share-og.png">
        <!-- Twitter tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Papaya">
        <meta name="twitter:url" content="https://www.papayatemplates.com">
        <meta name="twitter:description" content="Download fast, responsive HTML landing page templates designed by @jrdnbwmn, for free." />
        <meta name="twitter:image" content="https://www.papayatemplates.com/img/share-tw.png">
        <meta name="twitter:site" content="@jrdnbwmn">
        <meta name="twitter:creator" content="@jrdnbwmn">

    </head>

    <body class="has-animations">