<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Papaya | Beautiful site templates</title>
        <meta name="description" content="Beautiful pay-what-you-want website templates">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Mukta:400,700" rel="stylesheet"> 

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

        <!-- OG tags -->
        <meta property="og:title" content="Papaya" />
        <meta property="og:url" content="https://www.eatapapaya.com" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Your entertaining and descriptive copy here, if your meta description is good, use it." />
        <meta property="og:image" content="http://www.yourdomain.com/image-name.jpg" />
        <!-- Twitter tags -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Papaya" />
        <meta name="twitter:description" content="Your 200-character description here" />
        <meta name="twitter:url" content="https://www.eatapapaya.com" />
        <meta name="twitter:image" content="http://www.yourdomain.com /image-name.jpg" />
        <meta name="twitter:creator" content="@jrdnbwmn">

        <!-- Hotjar -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:800786,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>

    </head>

    <body>
