// Base embed styles
// -------------------------------------------------------------------
// Make stuff responsive
img, canvas, iframe, video, svg { max-width: 100%; }

.shadow-box {
    width: 566px;
    height: 426px;
    max-width: 100%;
}
